<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="header">
    <header class="app-bar paper__toolbar paper--shadow">
      <div class="app-bar__container paper__toolbar">
        <h1 class="logo">Nintendo 64</h1>
        <button routerLink="/">Home</button>
        <button routerLink="/list">Games List</button>
        <button routerLink="/votes">Votes</button>
      </div>
    </header>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    Footer
  </div>
</div>
